.site-inner-wrapper {
  overflow: hidden;
}

.header-region {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #1c262f;
  color: #fff;
  padding: 0 15px;
}

.main-region {
  height: calc(100vh - 80px);
}

.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 300px;
  background-color: #5e7890;
  padding: 15px;
  color: #fff;
  display: none;
}

.main-menu.menu-opened {
  display: block;
}

#map {
  height: 100%;
  width: 100%;
}

/**/

